/* mettre un reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "Noto Sans";
    src: url(./fonts/free-fa-brands-400.woff2);
    /* src: url(./fonts/AnyConv.com__NotoSans-Regular.woff2), url(./fonts/NotoSans-Regular.woff); */
    font-display: swap;
}

body {
    font-family: "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #FE5F55;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #FE5F55;
}

.header-content {
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    /* width: 100%; */
    /* width: 60%; */
}

/* menu hamburger */
#side-bar {
    position: absolute;
    /* width: 230px; */
    height: 10%;
    left: 0px;
    /* width: 100%; */
    /* background: #09fbba; */
    display: flex;
    /* top: -300px; */
    /* top: 300px; */
    /* left: -300px; */
    transition: 0.5s ease-out;
    z-index: 4;
    /* background-color: #F6AB80; */
  }
  .toggle-button {
    position: absolute;
    top: 20px;
    left: 25px;
    /* background-color: rebeccapurple; */
    /* left: 330px; */
    cursor: pointer;
    height: 25px;
    width: 25px;
  }

  .toggle-button span {
    width: 25px;
    height: 4px;
    border-radius: 5px;
    background: #ffffff;
    display: block;
    margin-top: 4px;
    transition: 0.5s ease;
  }
  li {
    color: #292929;
    list-style-type: none;
    font-size: 1.8rem;
    cursor: pointer;
    margin-inline: 15px;
    padding-left: 5px;
  }
  li:hover {
    /* background: #292929; */
    color: #fcfcfb;
  }

  #side-bar ul {
      /* position: relative; */
      position: relative;
      display: flex;
      flex-direction: column;
      /* flex-wrap: wrap; */
      justify-content: center;
      align-items: center;
      width: 100%;
      top: -300px;
      /* background-color: #cd59d1; */
      /* left: 0px; */
  }
  
  #side-bar.active {
    left: 0;
  }
  #side-bar.active ul {
    position: relative;
    height: 150px;
    height: fit-content;
    top: 55px;
    background-color: #F6AB80;
    /* background-color: #cd59d1; */
  }

  #side-bar li {
      margin-block: 10px;
  }

  #side-bar.active span {
    position: absolute;
    top: 10px;
  }
  #side-bar.active span:nth-child(1) {
    transform: rotate(45deg);
  }
  #side-bar.active span:nth-child(2) {
    opacity: 0;
  }
  #side-bar.active span:nth-child(3) {
    transform: rotate(-45deg);
  }
  #side-bar.active ~ .content {
    opacity: 0.3;
  }

  .logo {
      position: absolute;
      /* position: relative; */
      /* margin: auto; */
      margin: auto;
      left: calc(50% - 30.5px);
      /* top: calc(50% - 17.203px); */
      /* right: 50%; */
      /* margin-inline: auto; */
  }

.logo-img {
    height: 25px;
    width: 43.57px;
}

.btn-panier {
    position: relative;
    /* position: absolute; */
    /* border: #FE5F55; */
    /* border: #111111 2px solid; */
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* right: 0px; */
    color: white;
    color: black;
    background: #FE5F55;
    padding: 10px;
    border-radius: 50px;
    background: #F6AB80;
    background: #F9EEE7;
}

.btn-panier:hover {
    /* color: #111111; */
    color: white;
    background-color: #000000;
    filter: invert(10%);
}

.long-text {
    /* color: black; */
    display: none;
}

.small-text {
    display: flex;
    font-weight: bold;
}


/* .btn-panier p {
    display: none;
    font-weight: bold;
    width: 100%;
} */

/* .btn-panier:hover {
    background-color: #09fbba;
    background: #fb09e7;
} */

.panier-btn {
    /* color: black; */
    /* background: #09fbba; */
    height: 20px;
}

.panier-btn {
    filter: invert(100%)
}

/* .panier-btn:hover {
    filter: invert(0%)
} */

/* card recette */

.info-recette {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-block: 5%;
    margin-inline: auto;
    background-color: #F9EEE7;
    border-radius: 10px;
}

.title-recette {
    position: relative;
    margin-block: 10px;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    align-items: center;
}

.title-recette h1 {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2px;
}

.title-recette button {
    display: flex;
    align-items: center;
    font-size: 1.0rem;
    border: none;
    /* width: 600px; */
    background-color: #F9EEE7;
    /* background-color: #09fbba; */
    /* padding: 5px; */
}

.title-recette button:hover {
    background-color: #ffffff;
    border-radius: 50px;
    /* padding: 15px; */
}

.title-recette p {
    /* background-color: aqua; */
    /* display: none; */
    font-size: .8rem;
    font-weight: bold;
    /* width: 100%; */
}

/* .add-basket {
    height: 30px;
} */

.like {
    /* width: 60px; */
    height: fit-content;
    margin: 5px;
    /* background-color: #cd59d1; */
}

.add-to-basket {
    /* background-color: #2d6354; */
    width: fit-content;
    margin: 5px;
    height: 30px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-content-jauge {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* background-color: antiquewhite; */
}

.video-bobun {
    width: fit-content;
    margin: 15px;
    /* background-color: #cd59d1; */
    /* border: #000000 3px solid; */
}

.recette-video {
    /* height: 100px; */
    /* width: 200px; */
    /* width: fit-content; */
    /* width: 100%; */
    /* width: 183.23px; */
    /* width: 1700px; */
    background: url(./assets/video-small.png) center / cover no-repeat;
    background-color: aqua;
}

meter::-webkit-meter-bar {
    background: #E1E1E1;
    border: none;
    /* border: 1px solid #CCC; */
}

meter::-webkit-meter-optimum-value {
    background: #FE5F55;
}

.jauge {
    position: relative;
    width: 100%;
    /* background-color:rgb(37, 122, 94)   */
}

.jauge-item {
    position: relative;
    width: 100%;
    margin-block: 5px;
    /* background-color: aqua; */
}

.jauge-number {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    /* background-color: #09fbba; */
}

.jauge-number meter {
    width: 60%;
    margin-right: 10px;
    /* width: 70%; */
    /* background-color: rgb(226, 63, 158); */
}

.descriptif {
    position: relative;
    display: flex;
}

.icone {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.icone-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.icone-item p {
    position: relative;
    margin-left: 10px;
}

.icone-item img {
    height: 30px;
    width: 30px;
}

/* section fish */

.knew-it {
    margin-block: 40px;
}

.knew-it h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.koti {
    width: 60px;
    height: 86.8605px;
    /* width="60" height="86.8605" */
    /* height: 100px; */
}

.note {
    position: relative;
    display: flex;
    margin-inline: auto;
    /* justify-content: center; */
    /* align-items: center; */
    width: 95%;
    /* margin-top: 20px; */
    margin-block: 20px;
}

/* .texte-poisson {
    background: url(./assets/bulle\ dialogue.png) center / cover no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: blue;
} */

.texte-poisson p {
    /* background: url(./assets/bulle\ dialogue.png) center / cover no-repeat; */
    /* background: red; */
    position: relative;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 90%;
    padding: 15px;
    line-height: 22px;
}
.talkbubble p {
    /* background: url(./assets/bulle\ dialogue.png) center / cover no-repeat; */
    /* background: red; */
    position: relative;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 90%;
    padding: 15px;
    line-height: 22px;
    font-style: italic;
}


/* testestsetsetset */

.talkbubble {
    margin: auto;
    margin-inline: 30px;
    /* width: 120px; */
    /* height: 80px; */
    background: red;
    background: #DCFFE3;
    position: relative;
    /* -moz-border-radius: 10px; */
    /* -webkit-border-radius: 10px; */
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 58px;
    width: 0;
    height: 0;
    /* border-top: 13px solid transparent; */
    border-right: 26px solid #DCFFE3;
    border-bottom: 13px solid transparent;
}



  /* section ingredients */

.ingredients {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-block: 20px;
}

.title-ingredient {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px;
    /* background: #09fbba; */
}

.title-ingredient h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.add-remove-ingredient {
    position: relative;
    display: flex;
    margin: 20px;
    background: #F9EEE7;
    border-radius: 50px;
}

.add-remove-ingredient input {
    background: #F6AB80;
    background-color: #FE5F55;
    color: white;
    color: black;
    border: none;
    padding-inline: 8px;
}

.add-remove-ingredient p {
    margin: 5px;
}

.more-btn {
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.more-btn:hover,
.less-btn:hover {
    /* background-color: #09fbba; */
    /* background-color: black; */
    color: black;
    color: white;
}

.less-btn {
    border-radius: 30px 0 0 30px;
    cursor: pointer;
}

.list-card {
    position: relative;
    /* width: 100%; */
    /* width: 80%; */
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ingredient-item {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* width: 130px; */
    /* height: 130px; */
    width: fit-content;
    height: fit-content;
    /* background-color: goldenrod; */
    /* background-color: #FE5F55; */
    background-color: #F9EEE7;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.img-ingredient {
    /* background-color: #F9EEE7; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-block: auto;
    background-color: green;
    /* width: 100%; */
    /* width: 50%; */
    margin: auto;
    margin: 50px;
    /* width: 156px; */
    /* height: 116px; */
    /* width: fit-content; */
    /* height: fit-content; */
    /* background: url(./assets/tomate.webp) center / cover no-repeat; */
}

.tomate {
    width: 141px;
    height: 141px;
    background: url(./assets/tomate.webp) center / cover no-repeat;
}
.salade {
    /* height: min-content; */
    background: url(./assets/salade.webp) center / cover no-repeat;
    width: 156px;
    height: 134px;
}

.concombre {
    width: 156px;
    height: 116px;
    background: url(./assets/concombre.webp) center / cover no-repeat;
}
.carrot {
    width: 156px;
    height: 128px;
    background: url(./assets/carrot.webp) center / cover no-repeat;
}
.ail {
    width: 156px;
    height: 125px;
    background: url(./assets/ail.webp) center / cover no-repeat;
}
.ciboulette {
    width: 156px;
    height: 113px;
    background: url(./assets/ciboulette.webp) center / cover no-repeat;
}
.pousse-de-soja {
    width: 156px;
    height: 94px;
    background: url(./assets/pousse-de-soja.webp) center / cover no-repeat;
}
.steak {
    width: 156px;
    height: 94px;
    background: url(./assets/steak.webp) center / cover no-repeat;
}
.menthe {
    width: 156px;
    height: 109px;
    background: url(./assets/menthe.webp) center / cover no-repeat;
}
.cacahuete {
    width: 156px;
    height: 144px;
    background: url(./assets/cacahuete.webp) center / cover no-repeat;
}

.quantité-ingredient {
    /* position: relative; */
    display: flex;
    justify-content: center;
    /* justify-content: flex-end; */
    align-items: center;
    width: 100%;
    background-color: #FE5F55;
    border-radius: 0 0 10px 10px;
    color: white;
    color: #000000;
}

.quantité-ingredient p {
    margin: 4px;
    padding: 3px;
}

/* .picture-ingredient { */
    /* width: 50px; */
    /* width: 50%; */
    /* background-color: rebeccapurple; */
/* } */

.recette-etape {
    position: relative;
    width: 100%;
    margin-block: 70px;
}

.recette-etape h2 {
    display: flex;
    font-weight: bold;
    justify-content: center;
    font-size: 1.2rem;
}

.etape {
    position: relative;
    display: flex;
    margin: 20px;
    /* justify-content: space-between; */
}

.number-step {
    /* position: relative; */
    color: white;
}

.number-step p {
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
    background-color: #09fbba;
}
.number-step span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
    background-color: #FE5F55;
}

.text-step {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    /* line-height: 42px; */
    /* left: 80px; */
}

.text-step,
.number-step {
    line-height: 32px;
}

footer {
    height: fit-content;
    background: #FE5F55;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    /* margin-inline: 50px; */
    /* background-color: #09fbba; */
}

footer li {
    background-color: #cd59d1;
    background-color: #000000;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: 30px;
    width: 30px;
    color: white;
    color: #FE5F55;
    border-radius: 50%;
}

footer li:hover {
    background-color: white;
    /* color: #FE5F55; */
}

footer a p {
    display: none;
}

.rights {
    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    /* background-color: #09fbba;    */
}

@media (min-width: 525px) {
    .video-bobun {
        height: 350px;
        /* border: #d31414 3px solid; */
    }
}

@media (min-width: 768px) {

    header {
        height: 100px;
    }

    .toggle-button {
        top: 10px;
        height: 50px;
        width: 50px;
    }

    .toggle-button span {
        width: 60px;
        height: 10px;
      }

      #side-bar.active li {
        font-size: 2.5rem;
      }

      #side-bar.active ul {
          top: 80px;
      }

    .logo-img {
        height: 50px;
        width: 87.14px;
    }

    .panier-btn {
        height: 40px;
    }

    .btn-panier {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .btn-panier p {
        display: flex;
        color: white;
        margin: 5px;
        background-color: #fb09e7;
    } */

    .small-text {
        display: none;
        background-color: #F6AB80;
    }

    .long-text {
        margin-right: 10px;
        font-weight: bold;
    }

    .title-recette {
        height: 50px;
        justify-content: space-between;
        padding-top: 30px;
        padding-inline: 30px;
        /* background-color: rebeccapurple; */
    }

    .card-content {
        position: relative;
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column;
        padding-inline: 50px;
        padding-bottom: 50px;
        /* margin: 50px; */
        /* flex-wrap: wrap; */
    }

    .title-recette h1 {
        font-size: 2.8rem;
    }

    .title-recette button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }

    .like {
        /* height: 60px; */
        width: 40px;
        /* background-color: #000000; */
    }

    .add-to-basket {
        height: 60px;
    }
    
    .long-text {
        display: flex;
        /* background: #111111; */
    }
    

    /* .title-recette::before {
        position: absolute;
        font-weight: bold;
        content: "J'aime";
        font-size: 1.3rem;
        margin-left: 70px;
    }
    .title-recette::after {
        position: absolute;
        font-weight: bold;
        content: "J'ajoute à mon panier";
        font-size: 1.3rem;
        right: 0px;
        margin-right: 100px;
    } */

    /* .descriptif { */
        /* display: flex; */
        /* background-color: #FE5F55; */
        /* flex-direction: row; */
    /* } */

    /* .details { */
        /* background-color: greenyellow; */
    /* } */

    .recette-video {
        position: relative;
        height: 240px;
    }

    .jauge {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .video-content-jauge {
        width: 85%;
        width: 100%;
        /* background-color: red; */
        flex-direction: row;
        margin: 15px;
        justify-content: space-between;
        /* justify-content: space-around; */
    }
    .jauge-item {
        position: relative;
        /* align-items: center; */
        /* margin-left: 50px; */
    }
    .jauge-number {
        width: 80%;
        width: 90%;
    }

    .jauge-number meter {
        margin-right: 10px;
    }

    

    /* speak fish */

    .knew-it h2 {
        font-size: 2.2rem;
    }

    .koti {
        height: 200px;
    }

    /* .talkbubble {
        font-size: 2.0rem;
    } */
    
    .talkbubble p {
        font-size: 1.4rem;
        padding: 15px;
        line-height: 40px;
    }

    .talkbubble:before {
        top: 150px;
    }

    /* ingredient */

    .ingredients {
        margin-block: 70px;
    }

    .title-ingredient h2 {
        font-size: 2.2rem;
        margin-bottom: 40px;
    }

    .add-remove-ingredient {
        width: 200px;
        height: 50px;
    }

    .add-remove-ingredient p {
        width: 280px;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .less-btn {
        font-size: 1.4rem;
        font-weight: bold;
        width: 40px;
    }

    .more-btn {
        font-size: 1.4rem;
        font-weight: bold;
        width: 40px;
    }

    .ingredient-item {
        width: 200px;
        height: 200px;
        /* background-color: #09fbba; */
    }

    .img-ingredient {
        margin: auto;
        /* width: 100px; */
        /* height: 100px; */
        /* background-color: red; */
    }

    .quantité-ingredient {
        height: 40px;
        /* padding: 10px; */
        font-size: 1.2rem;
    }

    .picture-ingredient {
        position: relative;
        /* width: 800px; */
        

        /* width: 100%; */
        height: 100px;
        /* background-color: rebeccapurple; */
    }

    /* section recette étape */
    
    .recette-etape {
        margin-block: 100px;
    }
    .recette-etape h2 {
        font-size: 2.2rem;
        margin-bottom: 40px;
    }


    .text-step,
    .number-step {
        font-size: 1.4rem;
        line-height: 42px;
    }

    .number-step span {
        padding: 10px;
    }

    /* .number-step { */
        /* width: 50px; */
        /* height: 50px; */
    /* } */

    
}


@media (min-width: 1000px) {

    body {
        max-width: 1500px;
        margin: auto;
    }

    .card-content p {
        font-size: 1.2rem;
    }


    .recette-video {
        position: relative;
        /* width: 1000px; */
        height: 300px;
        height: 240px;
    }

    .jauge-item {
        position: relative;
        /* align-items: center; */
        margin-left: 50px;
    }

    .jauge-number meter {
        width: 75%;
    }

    .title-ingredient {
        width: 95%;
    }

    .add-remove-ingredient p {
        width: 280px;
    }

    
}


@media (min-width: 1200px) {

    .recette-video {
        height: 300px;
    }

}